*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}
body 
{
    background-color: #E5E5E5;
    position: relative;
}

.main 
{   
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 100px;
    position: absolute;
    width: 1100px;
    height: 830px;
    left: 193px;
    top: 173px;
    background-color: white;
    border: 1px solid pink
    ;
}
.user 
{
    width: 91px;
height: 40px;

font-family: 'Merriweather';
font-style: normal;
font-weight: 900;
font-size: 32px;
line-height: 40px;

/* #151B32 */

color: #151B32;
}

.search 
{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: 1px solid yellow;
    height: 50px;
    align-items: center;
    
}
.note-2
{
    margin-left: 2%;
}
.list-menu-items
{
    display: inline-block;
}
.search-input
{

height: 24px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px
}

.items-1
{
    width: 89px;
height: 24px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height */


/* #151B32 */

color: #151B32;

opacity: 0.8;

}

.items-2 
{
width: 83px;
height: 50px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 50px;
/* identical to box height */

background-color:  #849FFF;;
color: white;
padding-left: 5px;
border-radius: 5px;

}

.items-3
{
    width: 53px;
    height: 24px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    
    
    /* #151B32 */
    
    color: #151B32;
    
    opacity: 0.8;
}

.items-4
{
    width: 55px;
height: 24px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height */


/* #151B32 */

color: red;

opacity: 0.8;
}

.items-5
{
    width: 94px;
height: 24px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height */


/* #151B32 */

color: #151B32;

opacity: 0.8;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.person 
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    margin-left: 10%;
    margin-top: 5%;

}
.preson-detail
{   
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 31%;
    height: 208px;
   
    margin: 2% 0;
}
.preson-detail>img 
{   
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
    margin-bottom: 30px;
}
.info 
{   
    margin-left: 3px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: flex-start;
}

.info-1 
{   font-family: 'Merriweather';
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: flex-start;
    font-size: 18px;
    margin-bottom: 10px;
}
.info-1>span
{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 14px;
}
.info-2
{   
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    font-family: 'Poppins';
    font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 18px;
}
.info-2>span

{   
    margin: 2px 5px;
    border: 1px solid #516FD5;
    border-radius: 10px;
    color: #516FD5;
}
.note 
{
    border: 1px solid #516FD5;
    border-radius: 5px;
}